body{
	background-color: #f5f5f5;
	font-family: "Voltaire", Helvetica, Arial, sans-serif;
}

nav{
	background-color: #262626;
	height: 120px;
	padding-top: 10px;
}

nav > ul{
	text-align: center;
	padding-left: 0px;
}

nav > ul li{
	list-style: none;
	display: inline-block;
	color: white;
	padding: 5px;
}

nav > ul li span{
	padding: 5px 14px 5px 16px;
	margin-bottom: 20px;
	border-radius: 5px; 
	transition: all 0.2s ease-out;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 3px;
	cursor: pointer;
}

nav > ul li span:hover{
	background-color: #bf9456;
}

#boutique table{
	text-align: center;
}

#boutique table tr{
	width: 45%;
	height: 40%;
	float: left;
	border: 2px solid #E8E8E8;
	padding: 1px;
	margin: 5px 2.5%;
	transition: all 0.2s ease-out;
}

#boutique table tr:hover{
	border: 3px solid #9C9C9C;
	padding: 0;
}

#boutique table tr:hover div div{
	background: #edecec;
}

#boutique table tr div span img{
	height: auto;
   	width: 65%;
	text-align: center;
}

#boutique table tr div div{
	background-color: white;
	margin-top: 10px;
	border-top: 1px solid #E8E8E8;
	padding: 10px;
}

#boutique table tr div div h4{
	margin: 0;
}

#boutique table tr div div h5{
	color: #2f2f2f;
	margin: 0;
	font-weight: bold;
}

#boutique table tr:hover div div h5{
	color: #bf9456;
}

#pageProduit  {
	background-color: white;
	margin-top: 30px;
}

#pageProduit tr{

	text-align: center;
}

#pageProduit tr td{
	text-align: left;
	padding: 20px;
}